@font-face {
  font-family: "Canela";
  src: url("fonts/Canela-Thin.woff") format("woff");
}

div {
  font-family: Canela-Thin;
}

body{
    background-color: #E2E1D9;
}


h1{
    font-family: "Canela-thin", "serif";
    font-size: 16vw;
    letter-spacing: 0.01em; 
    text-align: center;
    margin: 0px;
}

h2{
    font-family: "Canela-thin", "serif";
    font-size: 6vw;
    text-align: left;
    padding: 0px 3vw;
    max-width: 450px;
}

h3{
    font-family: "Canela-thin";
    font-size: 3vw;
    text-align: left;
}

p{
    font-family: "Canela-thin";
    font-size: 18px;
    max-width: 450px;
    text-align: left;
    letter-spacing: 0.6px;
    line-height: 1.2;
 }

#container{
    text-align: center;
}

.container2{
    min-height: 21.9vw;
    border-bottom: 1px solid black;     
}

.header{
    padding: 8vw 0px;
    border-bottom: 1px solid black;     
}

.mel{     
   display: inline-block;
    float: left;
    width: 50%;
    border-right: 1px solid black;
}

.hongkong{
    display: inline-block;
    float: left;
    width: 49%;
}

.biology-design{
    display: inline-block;
    padding: 30px;

}


.work{
    display: block;
    border-top: 1px solid black;
    text-align: center;
}


.inspiration{
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.thanks{
    display: inline-block;
    text-align: center;
}

#back{text-align: center;}


@media only screen and (max-width: 600px) {
    h1, h2, h3, p{
    color:darkblue;
  
}
}


#containerwork{
width:80%;
height: auto;
overflow: hidden;
background-color: beige}
.container img{max-width:100%;
height: auto;
display: block;
justify-content: center;}
}


#containerinspo{
width:80%;
height: auto;
overflow: hidden;
align-content: center;
background-color: beige}
.container img{max-width:100%;
height: auto;
display: block;
justify-content: center;}
}


