@font-face {
font-family: 'Cormorant Garamond', serif;

  src: url("fonts/CormorantGaramond-Regular.woff") format("woff");
}




h1{
    color: dark darkslategrey;
    font-size: 45px;
    line-height: 95%;
    letter-spacing: 0px;
    padding: 2%;
    margin: 0;
    opacity: 80%;
}




body{
    color: black;
    font-family:"Cormorant Garamond";
    font-weight: 500;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
}





.show{
    display: none;
}
    


#title{text-align: center;
    
}

#star1{
    text-align: left;
    padding: 60px 40% 40px 45%;

}


#star2{
    text-align: right;
    padding: 60px 30% 30px 40%;
}


#star3{
    text-align: left;
    padding: 20px 75% 20px 25%;
}


#star4{
    text-align: left;
    padding: 5px 60% 5px 15%;
}


#star5{
    text-align: left;
    padding: 5px 60% 5px 20%;
}


#star6{
    text-align: right;
    padding: 60px 20% 60px 40%;
}


#star7{
    text-align: left;
    padding: 5px 40% 5px 45%;
}


#star8{
    text-align: left;
    padding: 5px 30% 15px 40%;
}


#star9{
    text-align: right;
    padding: 5px 50% 15px 40%;
}
