body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
 
}

#circle, .circle{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.two{
    margin-top: -50px;
    background-color: rebeccapurple;
    mix-blend-mode: exclusion;
    animation-name: animation-one;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

<!--comment-->


#circle:hover{
    background-color: bisque;
    border-radius: 0px;
}


@keyframes animation-one {
    0% {background-color: rebeccapurple;}
    50% {background-color: mediumaquamarine;}
    100% {background-color: rebeccapurple;}
}


li{
    margin: 20px 20px 10px;
}

#diamond {
    width: 100px;
    height: 100px;
    margin: 25px;
    border-radius: 10px;
    background-color: cadetblue;
    transform: rotate(45deg);
    transition: 0.5 ease;
}

#square{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: 0.5s ease;
}


#circle2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}


#circle2:hover{
    background-color: bisque;
    border-radius: 0px;
}


#circle3{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: orange;
    transition: 0.2s ease;
}





